{% extends "forms/strain_source/strain_source_type.html.twig" %}

{% block body %}
{{ parent() }}
<div>Strain</div>
{% for strainPicker in form.strainsIn %}
    <div class="form-inline picker-form flex">
    {% include "forms/strain_picker.html.twig"  with {'form': strainPicker}%}
    </div>    
{% endfor %}
{% for allele in form.alleles %}
{% include allele_form_template  with {'form': allele}%}    
{% endfor %}

{{form_row(form.plasmids,{attr:{class:'chosen-select'}})  }}
{{form_row(form.oligos,{attr:{class:'chosen-select'}})  }}
{{form_row(form.numberOfClones)  }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}