{% extends 'base.html.twig' %}

{% block title %}{{locus.name}}{% endblock %}

{% block body %}

<h1>Locus: {{locus.name}} / {{locus.pombaseId}}</h1>

<h2> Alleles: </h2>
<ul>
{% for allele in locus.getAllele%}
    <li>
    <strong>
    <a href="{{ path('allele.show', { 'id': allele.id }) }}">
    {{allele.name}}
    </a>
    </strong>. Found in:
    <ul>
    {% for strain in allele.getStrains %}
        <li>
        <a href="{{ path('strain.show', { 'id': strain.id }) }}">
        {{strain.id}} - {{strain.genotype}}
        </a>
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}