{% extends 'base.html.twig' %}

{% block title %}{{locus.name}}{% endblock %}

{% block body %}

<h1>Locus: {{locus.name}}</h1>

<h2> Alleles: </h2>
<ul>
{% for allele in locus.getAllele%}
    <li>
    <strong>{{allele.name}}.</strong> Found in:
    <ul>
    {% for strain in allele.getStrains %}
        <li>{{strain.id}} - {{strain.genotype}}</li>                
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}