{% extends 'strain/source/new.html.twig' %}
{% block create_body %}
<h2>Mating</h2>

{{form_start(form)}}
{{ form_row(form.strain1) }}
{{ form_row(form.strain2) }}
{{ form_row(form.strain_choice) }}
<div id="submission_button"></div>
{% if form.save is defined %}
    {{ form_row(form.save) }}
{% endif %}
{{ form_end(form) }}


<p id="ajax_outcome"></p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/source/mating') }}
{% endblock %}