{% extends 'strain/source/new.html.twig' %}
{% block create_body %}
<h2>Mating</h2>

{{form_start(form)}}
<div class="form-inline picker-form">
{% include "forms/strain_picker.html.twig"  with {'form': form.strain1}%}
</div>
<div class="form-inline picker-form">
{% include "forms/strain_picker.html.twig"  with {'form': form.strain2}%}
</div>
{{ form_row(form.strain_choice) }}
<div id="submission_button">
{% if form.save is defined %}
    {{ form_row(form.save) }}
{% endif %}
</div>
{{ form_end(form) }}


<p id="ajax_outcome"></p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/source/mating') }}
{% endblock %}