{% extends 'strain/source/new.html.twig' %}
{% block create_body %}
<h2>Gene editing</h2>
{{ form_row(form.inputStrain) }}
{{ form_row(form.targetLocus) }}
{{ form_row(form.choice) }}
{{ form_row(form.marker) }}
<div id="changing_fields">
    {% if form.inputPromoter is defined %}
        {{ form_row(form.inputPromoter) }}
    {% endif %}
    {% if form.inputNtermTag is defined %}
        {{ form_row(form.inputNtermTag) }}
    {% endif %}
    {% if form.inputCtermTag is defined %}
        {{ form_row(form.inputCtermTag) }}
    {% endif %}
    {% if allele is defined %}
    <p>You will create the allele: {{allele.name}}</p>
    {% endif %}
    {% if form.submit is defined %}
        {{ form_row(form.submit) }}
    {% endif %}
    
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/source/molbiol') }}
{% endblock %}