{% extends 'base.html.twig' %}

{% block title %}Plasmids{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<h1>Plasmids</h1>

<div class="d-flex bd-highlight mb-3">
<span>
<ul class="nav nav-pills mb-2">
  <li class="nav-item pr-md-5">
  <a class="nav-link" href="/plasmid/new/">Create plasmid</a>    
  </li>
</ul>
</span>
<span class="form-inline">
        <form name="form" method="post">
    <input type="text" id="form_id" name="form[id]" placeholder="Filter code" class="form-control">
    <input type="text" id="form_genotype" name="form[genotype]" placeholder="Filter name" class="form-control">
    <button type="submit" id="form_filter" name="form[filter]" class="btn-primary btn">Filter</button>
</span>
</div>

<table class="table table-striped">
    <thead>
    <tr>
    <td class="">Code</td>
    <td class="">Name</td>
    <td class="">File</td>
    </tr>
    </thead>
    <tbody>
    {% for plasmid in plasmids %}
    <tr>
        <td>{{plasmid.code}}</td>
        <td>{{plasmid.name}}</td>
        <td>{{plasmid.file}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('plasmid.import') }}">
   <button class="btn btn-primary">Import from .csv file</button>
</a>
{% endblock %}