{% extends 'base.html.twig' %}

{% block title %}{{allele.name}}{% endblock %}

{% block body %}

<h1>Allele: {{allele.name}}</h1>

<p>This allele is found in the locus {% include "locus/reference.html.twig"  with {'locus': allele.locus}%}</p>

{# <div id="my_dataviz">
</div> #}

<h4>Source:</h4>

{% if allele.parentAllele %}
<p>This allele was generated from a pre-existing allele: {% include "allele/reference.html.twig" with {"allele": allele.parentAllele} %}</p>
{% else %}
<p>This allele was generated from the wild type locus.</p>
{% endif %}

<h4> Strains: </h4>
<ul>
{% for strain in allele.getStrains %}
    <li>{% include "strain/reference.html.twig" %}</li>              
{% endfor %}    
</ul>
<div id="allele_jsonBottom" data-jsonarray="{{serialized_allele}}"></div>
<h4>Resources used:</h4>
<h5>Plasmids</h5>
<ul>
{% for plasmid in allele.strainSource.plasmids %}
    <li>{{plasmid}}</li>    
{% endfor %}
</ul>
<h5>Oligos</h5>
<ul>
{% for oligo in allele.strainSource.oligos %}
    <li>{{oligo}}</li>    
{% endfor %}
</ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('allele/allele_viewer') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('allele/allele_viewer') }}
{% endblock %}