

{% extends 'strain/create.html.twig' %}
{% block create_body %}
<h2>{{ method_name }}</h2>
{{form_start(form)}}
{{ form_row(form.strain1) }}
{{ form_row(form.strain2) }}
<button type = "button" id = "combinations_button" class = 'btn btn-secondary'>See possibilities</button>

{{ form_row(form.strain_choice) }}
{{ form_row(form.dummy) }}
<p id="submission_button"></p>
{{ form_end(form) }}


<p id="ajax_outcome"></p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/create2') }}
{% endblock %}