{% extends 'base.html.twig' %}

{% block title %}Create strain{% endblock %}

{% block body %}
<h1>Create strain</h1>
<select id="types">
    {% for type in types|keys %}
        <option value="strainsource_type_{{ loop.index }}">{{ type }}</option>
    {% endfor %}
</select>
{% for form in forms %}
    <div class="form" id="strainsource_type_{{ loop.index }}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/create') }}
{% endblock %}