{{ form_row(form.strain_choice) }}
{{ form_row(form.dummy) }}
{{ form_row(form.save) }}
{# <table class="table table-striped">
    <thead>
    <tr>
    {% for locus in loci %}
    <th>{{locus}}</th>
    {% endfor %}    
    </tr>
    </thead>
    <tbody>
{% for strain in combinations %}
    <tr>
    {% for ale in strain %}
        {% if ale %}
        <td>{{ale.name}}</td>
        {% else %}
        <td>wt</td>
        {% endif %}
        
        
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table> #}

{# <table class="table table-striped">
    <thead>
    <tr>
    <th>Strain</th><th>Genotype</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table> #}