{% extends 'base.html.twig' %}

{% block title %}Strains{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<h1>Strains</h1> 

{% form_theme form 'form/spanfields.html.twig' %}

{{form(form)}}

<div><a href="{{ path('strain.source.index') }}">Create strain</a></div>
<table class="table table-striped">
    <thead>
    <tr>
    <td class="">ID</td>
    <td class="">Genotype</td>
    <td class="">Created by</td>
    <td class="">Creation date</td>
    </tr>
    </thead>
    <tbody>
    {% for strain in strains %}
    <tr>
        <td>{{strain.id}}</td>
        <td>{% include "strain/geno_reference.html.twig" %}</td>
        <td>{{strain.source.creator}}</td>
        <td>{{strain.source.date|date("d/m/Y")}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}