{% extends 'base.html.twig' %}
{% block body %}

<h2>Network view</h2>

<p>(This only renders properly on Google Chrome)</p>

<span class="legend legend-strain">Strain</span>
<span class="legend legend-transformation">Transformation</span>
<span class="legend legend-mating">Mating</span>
<span class="legend legend-import">Import</span>
<span class="legend legend-markerswitch">Marker Switch</span>
<div id="my_dataviz">
<div class="tooltip">
<div class="tooltip_main">
</div>
<div class="tooltip_rest">
</div>
</div>
</div>
<div id='network_json' hidden>{{network_json}}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/network') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('strain/network') }}
{% endblock %}

