{% extends 'base.html.twig' %}
{% block body %}

<h2>Hello</h2>
<div id="my_dataviz">
<div class="tooltip">
<div class="tooltip_main">
</div>
<div class="tooltip_rest">
</div>
</div>
</div>
<div id='network_json' hidden>{{network_json}}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('strain/network') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('strain/network') }}
{% endblock %}

