{% extends 'base.html.twig' %}

{% block title %}Oligos{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<h1>Oligos</h1>
<div class="d-flex bd-highlight mb-3">
<span>
<ul class="nav nav-pills mb-2">
  <li class="nav-item pr-md-5">
  <a class="nav-link" href="/oligo/new/">Create oligo</a>    
  </li>
</ul>
</span>
<span class="form-inline">
        <form name="form" method="post">
    <input type="text" id="form_id" name="form[id]" placeholder="Filter name" class="form-control">
    <input type="text" id="form_genotype" name="form[genotype]" placeholder="Filter details" class="form-control">
    <input type="text" id="form_creator" name="form[creator]" placeholder="Filter sequence" class="form-control">
    <button type="submit" id="form_filter" name="form[filter]" class="btn-primary btn">Filter</button>
</span>
</div>
<table class="table table-striped">
    <thead>
    <tr>
    <td class="">Name</td>
    <td class="">Details</td>
    <td class="">Sequence</td>
    </tr>
    </thead>
    <tbody>
    {% for oligo in oligos %}
    <tr>
        <td class="no-break">{{oligo.name}}</td>
        <td>{{oligo.details}}</td>
        <td>{{oligo.sequence}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('oligo.import') }}">
   <button class="btn btn-primary">Import from .csv file</button>
</a>
{% endblock %}