{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('span') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class='pr-3 pt-2 pb-1'>
        {{form_label(form)}}
        <div>{{form_widget(form,{ 'attr' : { 'style': 'min-width:200px;' }})}}</div>
        </div>
    </{{ element|default('span') }}>
{%- endblock form_row %}
