<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('external_imports/chosen') }}
        {% endblock %}
        {{ include('navbar.html.twig') }}
    </head>
    <body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>  
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('custom-file-label') }}
            {{ encore_entry_script_tags('external_imports/chosen') }}
        {% endblock %}
    </body>
</html>